body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
* {
    margin: 0;
    color: rgba(0,0,0,0.8)
}
.hr {
    margin-top: 10px;
    display: flex;
    border-bottom: 1px solid #0c71b3;
}

.fmh-main {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px;
}
.fmh-title-container {
    display: flex;
    flex-direction: column;
}
.fmh-main-title {
    color: #1294db;
    margin-bottom: 0;
    font-weight: normal;
}
.fmh-title-container > p {
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col {
    width: 45%;
}
.row h2 {
    color: #1294db;
    font-weight: normal;
}
.badge {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.badge img {
    width: 100%;
}
.badge span {
    color: rgba(0,0,0,0.5)
}
.paragraph {
    margin-bottom: 30px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
}
.form-container span {
    color: #fff;
    text-align: center;
}
.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 238px;
    flex: 0 0 30%;
    max-width: 30%;
    max-height: 300px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 30px;
}
.card-header {
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    padding: 30px;
    white-space: nowrap;
}
.card-body h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 24px;
}
.location {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.location img {
    margin-right: 10px;
}
.card-action {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
.card-action a {
    border: none;
    text-transform: uppercase;
    color: #0050a0;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
}

.toast {
    z-index: 999;
    min-width: 200px;
    position: fixed;
    left: 50%;
    top: -120px;
    border-radius: 6px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translate(-50%, 0);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}
.toast-border-success {
    border-left: 8px solid #52c41a;
}
.toast-border-error {
    border-left: 8px solid #ff4d4f;
}
.toast.active{
    transform: translate(-50%, 130px);
}
.toast-content{
    display: flex;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message-text {
    font-size: 20px;
    font-weight: 600;
}
.text-1 {
    color: #333;
}
.text-2 {
    color: #666;
    font-weight: 400;
    font-size: 16px;
}

*:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}
.action-container input[type="button"]:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

@media all and (max-width: 1100px){
    .card {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media all and (max-width: 800px){
    .section {
       flex-direction: column;
    }
    .section .col {
        width: 100%;
    }
}
@media all and (max-width: 600px){
    .card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
